<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144336430204-upv4khfr833gdhpj42e54lbfah92ikaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144336430204-upv4khfr833gdhpj42e54lbfah92ikaq</string>
	<key>API_KEY</key>
	<string>AIzaSyDkjnj_ouDOBFHbkDmP2hcGNNkQPt6kJuM</string>
	<key>GCM_SENDER_ID</key>
	<string>144336430204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dawei.DrinkOrderApp</string>
	<key>PROJECT_ID</key>
	<string>kebukedrinksmember</string>
	<key>STORAGE_BUCKET</key>
	<string>kebukedrinksmember.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144336430204:ios:6c602ea4bb6602114915f9</string>
</dict>
</plist>